---
title: How grid is it?
---
<nav>
    <ul>
        {{#each pages}}{{#is ../page.dest dest}}<li class="{{dashify basename}}">
            {{{justify (default data.title basename)}}}</li>
        {{/is}}{{/each}}
        {{#each pages}}{{#isnt ../page.dest dest}}<li class="{{dashify basename}}">
            <a href="{{relative ../../page.dest dest}}">{{{justify (default data.title basename)}}}</a>
        </li>{{/isnt}}{{/each}}
    </ul>
</nav>