---
title: How grid is it?
---
<nav>
    <ul>
        {{#each pages class="pages"}}<li class="{{dashify basename}}">{{#isnt ../page.dest dest}}
            <a href="{{relative ../../page.dest dest}}">{{{justify (default data.title basename)}}}</a>
        {{else}}
            {{{justify (default data.title basename)}}}
        {{/isnt}}</li>{{/each}}
    </ul>
</nav>