---
title: Semi-rigid reading
styles:
    - semi-rigid-reading.css
---
<section class="grid-flow grid-flow--n2 grid-flow--n3 grid-flow--center">
    {{#with semi-rigid-reading}}
        {{#each columns}}
            {{#if quote}}
                <blockquote class="grid-flow-col">
                    {{#with title}}<h2>{{.}}</h2>{{/with}}
                    {{#with quote}}<p>{{{.}}}</p>{{/with}}
                    {{#with citation}}<cite>–{{.}}</cite>{{/with}}
                </blockquote>
                {{else}}
                <div class="grid-flow-col">
                    {{#with title}}<h2>{{.}}</h2>{{/with}}
                    {{#with content}}<p>{{{.}}}</p>{{/with}}
                    {{#with list}}
                        <ul>
                            {{#each .}}
                                <li>{{{.}}}</li>
                            {{/each}}
                        </ul>
                    {{/with}}
                </div>
            {{/if}}
        {{/each}}
    {{/with}}
</section>